{% extends "::base.html.twig" %}

{% block flash %}
    {% for flashMessage in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endblock %}
{% block body %}
    <ul>
        {% for person in persons %}
            <li><a href="{{ path('show', {'id': person.id}) }}">{{ person.firstName }}<a/> {{person.lastName}}
                <a href="{{ path('modify', {'id': person.id}) }}">Zmień dane</a>
                <a href="{{ path('delete', {'id': person.id}) }}">Usuń osobę</a>
            </li>
         {% endfor %}
    </ul>
    <a href="{{ path('new') }}">Dodaj nową osobę</a>
{% endblock %}